* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.navbar {
    background-color: #a36f53;
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .icon {
    width: 100px;
    height: auto;
}

.navbar .user-info {
    flex: 1;
    text-align: center;
}

.navbar .user-info span {
    display: inline-block;
    margin-right: 15px;
}

.navbar .user-info a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar .user-info .history-button {
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #d4a373;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.navbar .user-info .history-button:hover {
    background-color: #b97f52;
}

.logout {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.slider-container {
    position: relative;
    margin: 20px auto;
    width: 90%;
    overflow: hidden;
    z-index: 1;
    padding-top: 20px;
}

.slider {
    display: flex;
    transition: transform 0.3s ease;
    gap: 20px;
}

.option {
    flex-shrink: 0;
    width: 25%;
    height: 550px;
    padding: 20px;
    text-align: center;
    border: 1px solid #d4a373;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.option h2 {
    margin: 0;
    padding: 10px;
}

.option.libre {
    background-color: #25c44a;
}

.option.ocupada {
    background-color: #dc3545;
}

.option input[type="radio"] {
    display: none;
}

.option label {
    cursor: pointer;
}

.option .select-button {
    padding: 10px 20px;
    border: none;
    background-color: #d4a373;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.option .select-button:hover {
    background-color: #b97f52;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border: none;
    font-size: 24px;
}

#prevArrow {
    left: 10px;
}

#nextArrow {
    right: 10px;
}

.mesa-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    margin-top: 10px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.banner {
    background-image: url('../img/mesa.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin-left: 47px;
    margin-top: 20px;
    width: 93%;
    opacity: 0.9;
}

.no-mesas {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 600;
}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.banner .add-button {
    background-color: #4CAF50;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.banner .add-button:hover {
    background-color: #3e8e41;
}

.delete-form {
    margin-top: 10px;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

.delete-button:hover {
    background-color: #cc0000;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.option .select-button {
    padding: 10px 20px;
    border: none;
    background-color: #d4a373;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

.option .select-button:hover {
    background-color: #b97f52;
}

.option .edit-button {
    padding: 10px 20px;
    border: none;
    background-color: #2daa31;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

.option .edit-button:hover {
    background-color: #45ca49;
}

.option .free-button {
    padding: 10px 20px;
    border: none;
    background-color: #d4a373;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

.option .free-button:hover {
    background-color: #b97f52;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .user-info {
        margin-top: 10px;
        font-size: 13px;
    }
    .banner h1 {
        font-size: 1.5em;
    }
    .slider {
        flex-direction: column;
        align-items: center;
    }
    .option {
        width: 100%;
    }
    .slider-container {
        width: 100%;
    }
    .no-mesas {
        text-align: center;
        margin-top: 100px;
        font-size: 15px;
        font-weight: 600;
    }
    .banner {
        margin-left: 25px;
        width: 87%;
        margin-top: 20px
    }
    .icon {
        margin-left: 145px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}