        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Quicksand", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }
        
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
        }
        
        .navbar {
            background-color: #a36f53;
            color: #fff;
            padding: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .navbar .icon {
            width: 100px;
            height: auto;
        }
        
        .navbar .user-info {
            flex: 1;
            text-align: center;
        }
        
        .navbar .user-info span {
            display: inline-block;
            margin-right: 15px;
        }
        
        .navbar .user-info a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        
        .navbar .user-info .history-button {
            margin-left: 15px;
            padding: 5px 10px;
            background-color: #d4a373;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            font-size: 14px;
            transition: background-color 0.3s;
        }
        
        .navbar .user-info .history-button:hover {
            background-color: #b97f52;
        }
        
        .logout {
            text-decoration: none;
            color: white;
            margin-left: 10px;
        }
        
        .options {
            display: flex;
            justify-content: space-between;
            margin: 20px auto;
            width: 80%;
            height: 80%;
        }
        
        .option {
            flex: 1;
            margin: 0 10px;
            padding: 20px;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            border: 1px solid #d4a373;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
        }
        
        .option h2 {
            margin: 0;
            padding: 10px;
        }
        
        .button-container {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
        
        .option .select-button {
            padding: 10px 20px;
            border: none;
            background-color: #d4a373;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s;
        }
        
        .option .select-button:hover {
            background-color: #b97f52;
        }
        
        .option.terraza {
            background-image: url('../img/terraza4.jpeg');
            background-size: cover;
            background-position: center;
        }
        
        .option.comedor {
            background-image: url('../img/comedor.jpeg');
            background-size: cover;
            background-position: center;
        }
        
        .option.privadas {
            background-image: url('../img/privada.jpg');
            background-size: cover;
            background-position: center;
        }
        
        .extra-buttons {
            display: none;
            justify-content: space-between;
            margin-top: 10px;
        }
        
        .extra-buttons button {
            padding: 10px 20px;
            margin: 0 5px;
            border: none;
            background-color: #d4a373;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        
        .extra-buttons button:hover {
            background-color: #b97f52;
        }
        
        .users-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: 45px;
            gap: 2rem;
            margin-top: 2rem;
        }
        
        .user-card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 1rem;
            width: 400px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        
        .user-card:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        
        .user-card h3 {
            font-size: 1.5rem;
            color: #333;
            font-weight: 600;
        }
        
        .user-card p {
            margin-top: 10px;
            font-size: 1.2rem;
            color: #666;
        }
        
        .user-card .edit-button,
        .user-card .delete-button {
            display: inline-block;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        
        .user-card .delete-button {
            background-color: #f44336;
        }
        
        .user-card .edit-button:hover,
        .user-card .delete-button:hover {
            opacity: 0.8;
        }
        
        .banner {
            background-image: url('../img/banner.jpg');
            background-size: cover;
            background-position: center;
            padding: 30px 10px;
            border-radius: 15px;
            color: white;
            text-align: center;
            margin-left: 47px;
            margin-top: 20px;
            width: 93%;
            opacity: 0.9;
        }
        
        .banner h1 {
            font-size: 2.5rem;
            margin-bottom: 15px;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            font-weight: 600;
        }
        
        .banner .add-button {
            background-color: #4CAF50;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            transition: background-color 0.3s;
            display: inline-block;
        }
        
        .banner .add-button:hover {
            background-color: #3e8e41;
        }
        
        @media (max-width: 768px) {
            .options {
                flex-direction: column;
                align-items: center;
                width: 90%;
            }
            .option {
                width: 100%;
                margin: 10px 0;
            }
            .option h2 {
                font-size: 1.5em;
            }
            .navbar {
                flex-direction: column;
                align-items: flex-start;
            }
            .navbar .user-info {
                margin-top: 10px;
            }
            .icon {
                margin-left: 145px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .users-list {
                margin-left: 13px;
            }
            .user-card {
                width: 340px;
            }
            .banner {
                margin-left: 23px;
                width: 87%;
            }
            .banner h1 {
                font-size: 1.3rem;
            }
        }